name: Playwright API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  playwright-test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        cd playwright-tests
        npm ci

    - name: Install Playwright Browsers
      run: |
        cd playwright-tests
        npx playwright install --with-deps chromium

    - name: Run Playwright tests
      run: |
        cd playwright-tests
        npx playwright test --workers=1

    - name: Upload Playwright Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-tests/playwright-report/
        retention-days: 30

    - name: Update Google Sheets
      if: always()
      env:
        GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
        GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
        GOOGLE_SHEET_ID: ${{ secrets.GOOGLE_SHEET_ID }}
        TEST_TOOL: 'Playwright'
        TEST_STATUS: ${{ steps.run-playwright.outcome == 'success' && 'Pass' || 'Fail' }}
      run: |
        cd $GITHUB_WORKSPACE
        
        npm install google-spreadsheet google-auth-library

        node update_sheets.js
